body{
    max-width: 1280px;
    margin: 0 auto;
}
#front-page-projects{ margin: 80px 0; }
img + p{ display: none; }

#front-page-projects{
    display: flex;
    justify-content: space-between;
}

.small-hero-image{
    margin: 0;
    padding: 0;
    max-width: 636px;
    width: 100%;
    display: inline-block;
}

section{
    display: flex;
    justify-content: space-between;

    div{
        strong{ font-size: 22px; }
        min-width: 416px;
        margin-right: 40px;
    }
    .side-image{ 
        max-height: 500px;
        width: 100%;
        height: auto;
    }
}

.project-section{
    margin-top: 80px;
    &:last-of-type{ margin-bottom: 80px; }
}