$hover-color: yellow;
$highlight-border-nav: solid 1.5em yellow;

nav {
    // Outermost nav wrapper
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

    // Flex the nav items 
    #inner-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        li { 
            padding: 0px 1rem;
        }
    }

}
