main.single {
    h1 { a:hover { border-bottom: yellow; } }

    // The <main> contains the TOC nav items, and we don't want them underlined.
    nav a{ text-decoration: none ;}
    a{ text-decoration: underline; }
    
}