a#skip-nav{
    position:absolute;
    left:-999px;
    z-index:-999;
}
a#skip-nav {
    &:focus, &:active{
        left: auto;
        top: auto;
        height: auto;
        overflow:auto;
        z-index:999;
    }
}