#nav-header{ font-size: 28px; }

* { font-family: 'Avenir'; }

h1 { font-size: clamp(45px, 8vw, 72px); }
h2 { font-size: clamp(22px, 8vw, 36px); }
// h3 { font-size: clamp(24px, 8vw, 28px); }

h1:first-of-type { margin-top: 0px; }
h1{ margin-top: 4rem; }
h2{ margin-top: 3rem; }
h3{ margin-top: 2rem; }

// p:first-of-type{ margin: 0; }
p { 
    font-size: clamp(18px, 8vw, 22px);
    line-height: 24px;
    // max-width: 586px;
    margin: 1rem 0;
}

small {
    font-size: 12px;
    line-height: 14px;
}

a { color: black; }