<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.description }}">
    <link rel="icon" type="image/x-icon" href="{{ .Site.Params.favicon }}" sizes="16x16">
    {{ partial "meta" . }}
    {{ partial "scss" . }}
    <!-- 
    If is home, do nothing
    else output:
    ".Title (folder or filename) | .Site.Title"
    -->
    <title>
      {{ if .IsHome }}
      {{ else }}
        {{ if .Title }}{{ .Title }} | 
      {{ end }}
      {{ end }}
      {{ .Site.Title }}
    </title>
  </head>

  <body>
    <a href="#main" id="skip-nav">Skip To Main Content</a>
    {{ partial "nav" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}
  </body>

</html>

