{{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
{{ if $taxonomy }}
    <small> {{ $taxonomyname }}: </small>
    <!-- This lists all the taxonomies FOR EVERY PAGE -->
    {{ range $key, $value := $taxonomy }}
    <small> <a href="{{ $taxonomyname | relURL }}/{{ $key | urlize }}"> {{ $key }} </a> </small>
    {{ end }}
    <br>
{{ else }}
    <!-- output nothing -->
{{ end }}
{{ end }}