<nav>
  {{ $currentPage := . }}
  <div id="inner-nav">
    <p id="nav-home-button"> <a href="/">Projects // Home</a> </p>
    <ul>
      {{ range site.Menus.main }}
      <li><a
        href="{{ .URL }}"
        class="nav-item {{ if (eq $currentPage.Section .Identifier) }}active-nav-item{{ end }}"
      >
        {{ .Name }}
      </a></li>
      {{ end }}
    </ul>
  </div>
</nav>