{{ define "main"}}
<main id="main" class="error">
    <h1>Nothing here</h1>
    <br>
    <p> Sorry, but whatever you're looking for isn't here.  </p>
    <br>
    <code>
        <strong>404:</strong>
        <br>
        The HTTP 404, 404 not found, 404, 404 error, page not found
        or file not found error message is a HTTP standard response code,
        to indicate that the browser was able to communicate with a given server,
        but the server could not find what was requested.
    </code>
</main>
{{ end }}
